// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-bar-overlay {
	z-index: 0;
	background-color: #ef5350;
	width: 100vw;
	height: 10vh;
}


#become-a-host-form {
	top: 20vh;
	left: 15vw;
	width: 70vw;
	position: absolute;
}


#my-listings-all {
	top: 20vh;
	left: 15vw;
	width: 70vw;
	position: absolute;
}

.listing-link {
	color: black !important;
}

#listing-card {
	top: 20vh;
	left: 15vw;
	width: 70vw;
	position: absolute;
}

.other-listing-photo {
	display: none;
}
