#booking-error-message {
	display: none;
	background-color: black;
	left: 40wv;
	top: 20vh;
	height: 20vh;
	width: 100vw;
}

.normal-links {
	color: red !important;
}

.reservation-card {
	width: 20vw;
	background-color: white;
	display: inline-block;
	text-align: center;
}