// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$airbnb-red: #e57373;
$fake-white: #f4f4f2;
$fake-black: #3d3d3d;

body, html {
    height: 100%;
}


a:hover {
  background: none !important;
  text-decoration: none !important;
}

a:visited {
	color: white;
	text-decoration: none !important;
}

a {
	text-decoration: none;
	color: white !important;
}

.black-link {
	color: black !important;
	text-decoration: none !important;
}


#nav-bar {
	position: absolute;
	top: 0vh;
	background: transparent;
	z-index:1;
	color: white;
	font-size: 14px;
	width: 100%;
}

#logo a {
	font-size: 22px;
	display: inline-block;
	left: 3vw;
	top: 2.5vh;
	position: absolute;
	text-decoration: none;
	color: white;
}

#user-profile-button {
	position: absolute;
	left: 90vw;
	top: 2vh;
	z-index: 2;
	height: 8vh;
	width: 7.5vw;
	text-align: center;
}

#profile-photo {
	width: 5vh;
	height: 5vh;
	border-radius: 100%;
	border: 2px solid white;
}

#user-profile-menu {
	position: absolute;
	left: 79vw;
	top: 8vh;
	z-index: 2;
	height: 30vh;
	width: 17.5vw;
	background-color: white;
	border-radius: 1px;
	display: none;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-profile-action-div {
	width: 15vw;
	margin: 0vh 1.25vw;
	padding: 2vh 0vw;
	border-bottom: 1px solid black;
}

.user-profile-action-link {
	padding: 2vh 4vw;
}


#user-trips-button {
	left: 82.5vw;
	top: 2.25vh;
	width: 7.5vw;
	height: 8vh;
	position: absolute;
	color: white;
}

.navbar-link {
	vertical-align: 5px;
}

#user-host-button {
	left: 72.5vw;
	top: 2.25vh;
	position: absolute;
	height: 8vh;
	width: 7.5vw;
	text-align: center;
}

#user-host-menu {
	position: absolute;
	left: 62.5vw;
	top: 8vh;
	z-index: 2;
	height: 30vh;
	width: 17.5vw;
	background-color: white;
	border-radius: 1px;
	display: none;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#become-a-host {
	display: inline-block;
	left: 30vw;
	position: absolute;
	top: 2vh;
	cursor: pointer;
	border: 2px solid white;
	padding: 5px;
}

#signup-button {
	display: inline-block;
	position: absolute;
	left: 90vw;
	top: 3vh;
	cursor: pointer;
}

#login-button {
	display: inline-block;
	position: absolute;
	left: 95vw;
	top: 3vh;
	cursor: pointer;
}

.parallax {

    background-image: url("https://a0.muscache.com/airbnb/static/Live-There_Tokyo_Elliott_Artist-Loft_20160222_0153_comp.jpg");

    height: 85%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
	position: absolute;
	font-size: 3.5vw;
	color: white;
	left: 37%;
	top: 23.5%;
}

.tagline {
	position: absolute;
	font-size: 1.2vw;
	color: white;
	left: 23.6%;
	top: 36%;
}

#search-bar-underlay {
	position: absolute;
	width: 100%;
	height: 15vh;
	top: 70vh;
	background-color: black;
	opacity: 0.5;
}

#search-bar-input {
	position: absolute;
	top: 75vh;
	left: 25vw;
	width: 27.5vw;
	height: 5vh;
	background-color: white !important;
	border-radius: 2px;
	border: 0;
}

#search-dates {
	position: absolute;
	top: 75vh;
	left: 52.5vw;
	width: 12.5vw;
	height: 5vh;
	background-color: white !important;
	border: 0;
	border-left: 1px solid $airbnb-red;
	text-align: center;
}

#search-bar-submit {
	position: absolute;
	top: 75vh;
	left: 65vw;
	width: 10vw;
	height: 5vh;
	background-color: $airbnb-red;
	border: 0;
	border-radius: 2px;
	color: white !important;
}

.ui-autocomplete {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 1vh 1vw;
    list-style: none;
    background-color: #ffffff;
    border-color: $airbnb-red;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: $airbnb-red;
    border-radius: 2px;
    background-image: none;
}

#signup-form {
	position: absolute;
	z-index: 3;
	left: 35vw;
	top: 20vh;
	width: 30vw;
	height: 60vh;
	display: none;
	background-color: white;
	border-radius: 1%;
	text-align: center;
}

#login-form {
	position: absolute;
	z-index: 3;
	left: 35vw;
	top: 20vh;
	width: 30vw;
	height: 60vh;
	display: none;
	background-color: white;
	border-radius: 1%;
	text-align: center;
}


#signup-form-overlay {
	width: 100vw;
	height: 100vh;
	display: none;
	position: absolute;
	z-index: 2;
	opacity: 0.6;
	background-color: black;
}

#facebook-signup-button {
    background-color: #1565c0;
    border: none;
    color: white;
    padding: 3vh 7vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 3vh 1vw;
    cursor: pointer;
    display: inline-block;
}

#facebook-signup-button:hover {
	background-color: #1565c0 !important;
}

#email-signup-div {
    background-color: #e57373;
    border: none;
    color: white;
    padding: 3vh 6.1vw 3vh 6.1vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5vh 1vw 1vh 1vw;
    display: inline-block;
}

.home-content {
	background-color: $fake-white;
	position: absolute;
	top: 85%;
	width: 100%;
	height: 100%;
	color: $fake-black;
	text-align: center;
}

.home-content-headline {
	margin-top: 5vh;
}

.home-content-tagline {
}

.featured-location {
	width: 100%;
	height: 50%;
  left: 10%;
}

.featured-location-photo {
	width: 700px;
	height: 100%;
  border-radius: 2px;
  background-color: $airbnb-red;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 12.5%;
}


.featured-location-photo-text {
	top: 35%;
	color: white;
  position: relative;
}

.featured-location-host {
	width: 350px;
	height: 100%;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  background-image: url("https://www.cleartrip.com/places/hotels/3926/392628/images/1054530_55_b_w.jpg");
  position: relative;
  float: right;
  margin-right: 12.5%;
}

.featured-location-host-photo {
  border-radius: 100%;
  left: 150px;
  top: 150px;
  width: 75px;
  border: 2px solid white;
}

.featured-location-host-location {
  margin-top: 10px;
  color: white;
  top: 50%;
  font-size: 100%;
}

.featured-location-host-name {
  color: white;
  top: 55%;
}

.featured-location-host-info{
  position: relative;
  margin-top: 100px;
}
